 <!-- 
    ==================== about us start ==================== 
    -->
    <section class="about_us" id="about_us">
        <div class="about_us_content">
          <div class="about_us_info">
            <h3 class="primary_heading">about us</h3>
            <h2 class="sub_heading">Welcome to our digital space!</h2>
            <p class="about_us_discription">
              My name is Rehman Ali, and I am a passionate web developer dedicated to crafting stunning and functional websites. With a solid foundation in HTML, CSS, and JavaScript, I bring designs to life and ensure seamless user experiences.
              <br>
              <br>
  Collaboration is key in this ever-evolving digital landscape. I leverage Git and GitHub for version control, ensuring that every project is well-organized and easily manageable. I believe in continuous learning and keeping up with the latest industry trends to deliver high-quality work.
  Join me on this journey to create impactful web solutions that elevate brands and engage audiences. Let’s turn your vision into reality!
           </p>
            <div class="about_us_btn">
              <a href="https://wa.me/+923224594117" target="_blank">let's talk</a>
            </div>
          </div>
          <div class="about_us_image">
            <img src="assent/images/about__us.svg" alt="img">
          </div>
        </div>
      </section>
      <!-- 
      ==================== about us end ==================== 
      -->