 <!-- 
    ==================== contact us start ==================== 
    -->
    <section class="contact_us" id="contact_us">
        <div class="contact_section">
          <div class="contact_header">
            <h2 class="contact_heading">contact us</h2>
            <h3 class="contact_sub_heading">drop us your message for any query</h3>
          </div>
          <div class="contact_body">
            <div class="contact_img">
              <img src="assent/images/contact.png" alt="img" />
            </div>
            <div class="contact_form">
              <form action="#">
                <div class="input_section">
                  <input type="text" placeholder="Name" />
                  <input type="text" placeholder="Mail" />
                  <input type="text" placeholder="Phone" />
                  <input type="text" placeholder="Subject" />
                </div>
                <textarea
                  name=""
                  id=""
                  rows="5"
                  placeholder="Your Message"
                ></textarea>
              </form>
              <div class="contact_btn">
                <a href="#">send message</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
    ==================== contact us end ==================== 
    -->