<!-- 
    ==================== header start ==================== 
    -->
    <header class="header">
        <nav class="nav_bar">
          <div class="nav_brand">
            <a href="#home"><span class="programming">programming</span>with<span class="maan">maan</span></a>
          </div>
          <ul class="nav_list" id="nav_list">
            <li class="nav_item"><a href="#home">home</a></li>
            <li class="nav_item"><a href="#portfolio">portfolio</a></li>
            <li class="nav_item"><a href="#about-us">about us</a></li>
            <li class="nav_item"><a href="#get-in-touch">get in touch</a></li>
          </ul>
          <div class="nav_toggler" id="nav_toggler">
            <span class="toggler_bar top_bar"></span>
            <span class="toggler_bar middle_bar" id="middle_bar"></span>
            <span class="toggler_bar bottom_bar"></span>
          </div>
        </nav>
      </header>
      <!-- 
      ==================== header end ==================== 
      -->