<!-- 
    ==================== hero page start ==================== 
    -->
    <section class="hero_page">
        <div class="left_column hero_columns">
          <div class="hero_page_heading">
            <h3 class="sub_heading">hi i'm</h3>
            <h1 class="primary_heading">rehman ali</h1>
            <p class="heading_discription">front-end Developer</p>
          </div>
          <div class="social_links">
            <a href="https://www.instagram.com/rehmanalixheikh786/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100087591721820" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/rehman-ali-628182306/" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://wa.me/+923224594117" target="_blank">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>
          <div class="primary_btn">
            <a href="assent/cv/Rehman__Ali.pdf" download >download <span>cv</span></a>
          </div>
        </div>
        <div class="right_column hero_columns">
          <img src="assent/images/hero_img.svg" alt="" />
        </div>
      </section>
      <!-- 
    ==================== hero page end ==================== 
    -->