<!-- 
    ==================== recent_work start ==================== 
    -->
    <section class="recent_work">
        <div class="recent_header">
          <h2 class="recent_heading">
            my recent work
          </h2>
          <p class="recent_discription">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa placeat eos deserunt eaque libero quos earum perspiciatis inventore fugit quasi!
          </p>
        </div>
        <div class="recent_body">
          <div class="project_card">
            <div class="card_img">
              <img class="project_card_img" src="assent/images/hero.png" alt="">
            </div>
            <div class="project_card_btn">
              <a href="https://coder-ras.netlify.app/" target="_blank">live demo</a>
              <a href="assent/gallery/coder.html" target="_blank">gallery</a>
            </div>
          </div>
          <div class="project_card">
            <div class="card_img">
              <img class="project_card_img" src="assent/images/hero.png" alt="">
            </div>
            <div class="project_card_btn">
              <a href="https://coder-ras.netlify.app/" target="_blank">live demo</a>
              <a href="assent/gallery/coder.html" target="_blank">gallery</a>
            </div>
          </div>
          <div class="project_card">
            <div class="card_img">
              <img class="project_card_img" src="assent/images/hero.png" alt="">
            </div>
            <div class="project_card_btn">
              <a href="https://coder-ras.netlify.app/" target="_blank">live demo</a>
              <a href="assent/gallery/coder.html" target="_blank">gallery</a>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      ==================== recent_work end ==================== 
      -->