<!-- 
    ==================== skills start ==================== 
    -->
    <section class="skills">
        <div class="skills_header">
          <h2 class="skills_heading">skills</h2>
        </div>
        <div class="skills_body">
          <div class="skills_card">
            <i class="fa-solid fa-language"></i>
            <h3>languages</h3>
              <ul class="skills_list">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
              </ul>
          </div>
          <div class="skills_card">
            <i class="fa-brands fa-phoenix-framework"></i>
            <h3>framework</h3>
            <ul class="skills_list">
              <li>TailwindCSS</li>
              <li>Bootstrap</li>
            </ul>
          </div>
          <div class="skills_card">
            <i class="fa-solid fa-list-check"></i>
            <h3>CMS</h3>
            <ul class="skills_list">
              <li>Wordpress</li>
              <ul>
                <li>WooCommerce</li>
                <li>Elementor</li>
              </ul>
            </ul>
          </div>
        </div>
      </section>
      <!-- 
      ==================== skills end ==================== 
      -->