/*
==================== google font link ====================
*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");

/*
==================== css variables ====================
*/
:root {
    --primary-color: #fefefe;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 8rem;
}

body {
    font-family: "Fredoka", sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

/*
==================== header ====================
*/
.header {
    width: 100%;
    position: fixed;
    padding: 2rem;
    box-shadow: 0 0 34px #04002938;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    animation: header_anim 0.5s ease-in;
    z-index: 999;
}

@keyframes header_anim {
    0% {
        transform: translatey(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin-inline: auto;
}

.nav_brand a {
    font-size: 2rem;
    font-weight: 500;
    color: #000331;
}

.nav_brand a .maan {
    font-weight: 600;
    color: #ff4500;
}

.nav_brand a .programming {
    font-weight: 600;
    color: #1e90ff;
}

.nav_list {
    display: flex;
    gap: 2rem;
}

.nav_item a {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #000331;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.nav_item a:hover {
    opacity: 0.7;
}

.nav_toggler {
    display: none;
    flex-direction: column;
    border-radius: 0.4rem;
    cursor: pointer;
}

.nav_toggler .toggler_bar {
    width: 3.2rem;
    height: 0.3rem;
    border-radius: 1rem;
    background: #000331;
}

.nav_toggler .middle_bar {
    margin: 0.6rem 0;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 1.5rem;
    }

    .nav_toggler {
        display: flex;
    }

    .nav_list {
        position: absolute;
        top: 12rem;
        left: 200%;
        transform: translateX(-50%);
        display: block;
        padding: 4rem;
        width: 30rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 34px rgba(0, 0, 0, 0.3);
        background: var(--primary-color);
        transition: left 0.3s ease-in-out;
    }

    .toggler_active.nav_list {
        left: 50%;
    }

    .nav_list .nav_item {
        border-bottom: 1px solid #000331;
        padding-bottom: 0.3rem;
    }

    .nav_list .nav_item:not(:last-child) {
        margin-bottom: 1.4rem;
    }
}

/*
==================== main container ====================
*/
.main_container {
    max-width: 120rem;
    margin-inline: auto;
}

/*
==================== hero page ====================
*/
.hero_page {
    width: 100%;
    height: auto;
    padding: 15rem 6rem 10rem 6rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.hero_columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_column {
    animation: left_column 2s ease;
}

@keyframes left_column {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

.left_column .sub_heading {
    font-size: 3rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #000331;
}

.left_column .primary_heading {
    display: inline-block;
    font-size: 9rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: -0.5rem;
    color: #ff4500;
}

.left_column .heading_discription {
    font-size: 2.3rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    color: #000331;
}

.left_column .social_links {
    margin-top: 2.5rem;
    display: flex;
    gap: 2rem;
}

.left_column .social_links i {
    font-size: 2.6rem;
    color: #353535;
    transition: all 0.15s ease-in-out;
}

.left_column .social_links i:hover {
    color: #ff4500;
}

.left_column .primary_btn {
    margin-top: 4rem;
}

.left_column .primary_btn a {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 1rem 3rem;
    border-radius: 5rem;
    background: #1e90ff;
    color: var(--primary-color);
    transition: all 0.2s ease;
}

.left_column .primary_btn a span {
    text-transform: uppercase;
}

.left_column .primary_btn a:hover {
    background: var(--primary-color);
    color: #1e90ff;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.hero_page .right_column img {
    max-width: 580px;
    margin-inline: auto;
    animation: hero_image 2s ease;
}

@keyframes hero_image {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .hero_page {
        grid-template-columns: repeat(1, 1fr);
        gap: 6rem;
    }

    .left_column {
        text-align: center;
        align-items: center;
    }

    .hero_page .right_column img {
        max-width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .hero_page {
        padding: 25rem 2rem 10rem 2rem;
    }
}

@media screen and (max-width: 980px) {
    .hero_page {
        padding: 14rem 2rem 6rem 2rem;
    }

    .left_column .sub_heading {
        font-size: 2.5rem;
    }

    .left_column .primary_heading {
        font-size: 6rem;
    }

    .left_column .heading_discription {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    .left_column .social_links {
        margin-top: 2rem;
        gap: 1.7rem;
    }

    .left_column .social_links i {
        font-size: 2.6rem;
    }

    .left_column .primary_btn {
        margin-top: 3rem;
    }

    .left_column .primary_btn a {
        font-size: 1.7rem;
    }
}

/*
==================== about us ====================
*/
.about_us .about_us_content {
    max-width: 120rem;
    margin-inline: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem 2rem;
    /* background: #fffacd; */
    overflow: hidden;
}

.about_us_info .primary_heading {
    display: inline-block;
    font-size: 6rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #000331;
    margin-bottom: 3rem;
    position: relative;
}

.about_us_info .primary_heading::after {
    position: absolute;
    content: "";
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 0.4rem;
    border-radius: 1rem;
    background: #ff4500;
}

.about_us_info .sub_heading {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.about_us_info .about_us_discription {
    font-size: 1.8rem;
    line-height: 1.5;
    opacity: 0.7;
}

.about_us_info .about_us_btn {
    margin-top: 3rem;
}

.about_us_info .about_us_btn a {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 1rem 3rem;
    border-radius: 5rem;
    background: #1e90ff;
    color: var(--primary-color);
    transition: all 0.2s ease;
}

.about_us_info .about_us_btn a:hover {
    background: var(--primary-color);
    color: #1e90ff;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .about_us .about_us_content {
        grid-template-columns: 1fr;
        padding: 5rem 2rem;
        gap: 6rem;
    }

    .about_us_info .primary_heading {
        font-size: 4.5rem;
        margin-bottom: 2rem;
    }

    .about_us_content .about_us_image img {
        max-width: 500px;
        margin-inline: auto;
    }
}

/*
==================== contact us ====================
*/
.contact_section {
    padding: 6rem 0;
    background: #dfe1ff96;
}

.contact_header {
    max-width: 73rem;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 4rem;
}

.contact_heading {
    font-size: 4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #000331;
}

.contact_sub_heading {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 1rem;
}

.contact_body {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
}

.contact_img img {
    padding: 0 1.6rem;
}

.contact_form {
    padding: 5rem 1.6rem;
}

.input_section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.contact_form form input {
    min-width: 10rem;
}

.contact_form form input {
    font-size: 1.5rem;
    font-weight: 400;
}

.contact_form form input,
.contact_form form textarea {
    outline: none;
    border: none;
    padding: 1.4rem 1.2rem;
    font-family: "Fredoka", sans-serif;
}

.contact_form form textarea {
    width: 100%;
    margin-top: 2rem;
}

.contact_btn {
    padding: 0;
    margin-top: 5rem;
}

.contact_btn a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    text-transform: capitalize;
    padding: 1.3rem 3rem;
    background: #000331;
    transition: all .3s ease-in-out;
}

.contact_btn a:hover {
    background: var(--primary-color);
    color: #000331;
    font-weight: 500;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .contact_body {
        grid-template-columns: 1fr;
    }

    .contact_img img {
        padding: 0 1.6rem;
        max-width: 600px;
    }

    .contact_heading {
        font-size: 3.3rem;
    }

    .contact_sub_heading {
        font-size: 1.6rem;
        margin-top: .5rem;
    }
}

/*
==================== footer ====================
*/
.footer {
    background: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_section {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem 1.6rem;
}

.footer_discription {
    font-size: 1.7rem;
    font-weight: 500;
    color: #000331;
    margin: 2.5rem 0;
    max-width: 520px;
}

.footer .social_links {
    display: flex;
    justify-items: center;
    gap: 2rem;
}

.footer .social_links a i {
    color: #000331;
    font-size: 2.2rem;
    transition: color .1s ease-in-out;
}

.footer .social_links a i:hover {
    color: #ff4500;
}

.footer_right_col {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.footer_nav h2 {
    font-size: 2.2rem;
    font-weight: 500;
    white-space: nowrap;
    color: #000331;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.footer_nav .list .item {
    margin-bottom: 1.5rem;
}

.footer_nav .list .item a {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #000331;
}

.footer_nav .list .item a:hover {
    opacity: .7;
}

@media screen and (max-width: 768px) {
    .footer_section {
        grid-template-columns: 1fr;
        padding: 4rem 1.6rem;
    }

    .footer_left_col .nav_brand,
    .footer_discription {
        margin-inline: auto;
        text-align: center;
    }

    .footer_left_col .social_links {
        justify-content: center;
    }

    .footer_right_col {
        grid-template-columns: repeat(2, 1fr);
    }
}

.copyright {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2rem;
    text-align: center;
    background: #000331;
}

.copyright p {
    color: var(--primary-color);
    letter-spacing: .1rem;
}

.copyright p>span {
    color: #ff4500;
}

/*
==================== recent_work ====================
*/
.recent_work {
    min-height: 70vh;
    background: #e3fff6;
    padding: 2rem 2rem 5rem 2rem;
}

.recent_header {
    text-align: center;
    padding: 5rem;
}

.recent_heading {
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.recent_discription {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.recent_body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    justify-content: center;
    padding: 3rem 0 2rem 0;
}

@media screen and (max-width: 900px) {
    .recent_body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .recent_body {
        grid-template-columns: 1fr;
    }
}

.recent_body .project_card {
    background: #000331;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.project_card .card_img img {
    transition: transform .2s ease-in-out;
}

.recent_body .project_card:hover .project_card_img {
    transform: scale(1.05);
}

.project_card .project_card_btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: .5rem;
}

.project_card .project_card_btn a {
    font-size: 1.7rem;
    font-weight: 500;
    color: #000331;
    text-transform: capitalize;
    background: #fefefe;
    padding: .7rem 1.5rem;
    border-radius: 4px;
    transition: opacity .2s ease-in-out;
}

.project_card .project_card_btn a:hover {
    opacity: .7;
}

/*
==================== skills ====================
*/
.skills {
    padding: 5rem 0 2rem 0;
    background: #dde1e7;
    min-height: 70vh;
}

.skills_header {
    text-align: center;
}

.skills_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 3.3rem;
    padding: 4rem 2rem;
}

.skills_card {
    display: grid;
    gap: 2rem;
    padding: 4rem 2rem;
    background: #dde1e7;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border-radius: 5px;
}
.skills_card i {
    font-size: 4rem;
    color: #505050;
}
.skills_card h3 {
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: capitalize;
}